.container {
	position: relative;
	width: 100%;
	height: 100%;	
}

.bottombar {
	position: absolute;
	width: 100%;
	height: 30%;
	top: 380px;
	text-align: center;
	/*background-color: rgba(20, 255, 55, 0.2);*/	

}

.main {
	top: 40px;
	width: 50%;
	float: left;
	height: 100px;
	/*background-color: rgba(45, 255, 0, 0.3);*/	
}

#iPod {
	position: absolute;
	left: 350px;
}

#iPodImage {
	width: 100%;
}

.albumDiv {
	height: 175px;
	width: 221px;
	display:inline;
	z-index: 2;
}

.albumImage {
	height: 100px;
	width: 137px;
	display:inline;
	z-index: 2;
}

.albumInfo {
	background-color: rgba(0, 0, 255, 0.1);
	width: 40%;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}


.controlBar {
	position: absolute;
	float: left;
	width: 40%;
	height: 95px;
	top: 157px;
	/*background-color: rgba(45, 0, 255, 0.3);*/

}

.controls {
	position: absolute;
	background-color: rgba(45, 48, 55, 1);	
}

.playpause {
	width: 23px;
	height: 17px;
	top: 77px;
	left: 454px;
}

.previous {
	width: 23px;
	height: 17px;
	top: 38px;
	left: 420px;
}

.next {
	width: 23px;
	height: 17px;
	top: 38px;
	left: 489px;
}


#message {
 background-color: rgba(255, 153, 0, 0.6);
 height:30px;
 padding-left:10px;
 vertical-align:middle;
 font-size: 20px;
 font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}

.playingAlbum {
	height: 175px;
	width: 221px;
	z-index: 2;
}

.viewBar {
	position: relative;
	width: 100%;
	height: 169px;
	top: 23px;
}
#playWindow {
	position: absolute;
	width: 137px;
	height: 100px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.8);	
	left: 395px;
}



